body {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  height: 100vh;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  margin-right: 8%;
  margin-left: 8%;
}

p,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Nunito", sans-serif;
}

#scale-top {
  position: sticky;
  min-width: 75%;
  min-height: 30vh;
}

#tri {
  width: 4%;
  height: auto;
}

.icon {
  width: 50px;
  padding: 5px;
}

.bevelContainer {
  border-radius: 9px;
  border: 2px solid black;
  color: black;
  padding: 1%;
  width: 50%;
}

.unit {
  width: 15px;
}

.vars {
  width: 120px;
}

.scaleContainer {
  width: 75%;
}

.tiles {
  background: orange;
  position: relative;
  height: 15px;
  margin: 2px;
  z-index: 1000;
  font-size: smaller;
  font-weight: bolder;
  color: black;
  display: inline-block;
  align-self: flex-end;
}

.neg {
  background: red;
}

.display {
  font-weight: bolder;
}

.drag-over {
  border: dashed 3px blue;
}

.inner-console {
  background-color: rgba(255, 255, 255, 0.4);
  width: 90vw;
  height: 96vh;
  border-radius: 9px;
  color: #333;
  padding: 1%;
  margin: 1% auto;
  outline: 4px;
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
}

.innermost-console {
  background-color: white;
  width: 80%;
  border-radius: 9px;
  padding: 1%;
  margin: auto;
  outline: 4px;
  border: 2px solid black;
  color: black;
}

.input-field {
  width: 80px;
  text-align: center;
}

#tileContainer {
  margin: auto;
}
input[type="radio"] {
  display: none;
}

@media only screen and (max-width: 900px) {
  .bevelContainer {
    width: 80%;
    padding: 2%;
  }
  .icon {
    width: 30px;
    padding: 1px;
  }
  /* .inner-console {
    height: 85vh;
  } */

  .innermost-console {
    width: 90%;
    height: 50vh;
  }
  .scaleContainer {
    width: 90%;
  }
  .tiles {
    height: 20px;
  }
  .unit {
    width: 20px;
  }
  .vars {
    width: 90px;
  }
  #tileContainer {
    width: auto;
  }
}
